.footer-links{
    text-decoration: none;
    color: white;
}
.contact-input{
    border-radius: 6px;
    height: 35px;
}
.contact-input-btn{
    color: white;
    border-radius: 6px;
    padding: 5px;
    /* background-color: rgb(255, 221, 0); */
    height: 35px;
}
::placeholder{
    padding: 5px;
}